/.project
/.settings/
/.buildpath
composer.lock
/vendor/
funcAcl/
generis/
qtiItemPci/
tao/
taoBackOffice/
taoDelivery/
taoDeliveryRdf/
taoGroups/
taoItems/
taoOutcomeRds/
taoOutcomeUi/
taoQtiItem/
taoQtiTest/
taoQtiTestPreviewer/
taoResultServer/
taoTestTaker/
taoTests/
